.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 150px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

.hamburger-button.open .bar1 {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-button.open .bar2 {
    opacity: 0;
}

.hamburger-button.open .bar3 {
    transform: translateY(-8px) rotate(-45deg);
}

.navbar .active {
    padding: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li {
    cursor: pointer;
}

@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }
}

@media (max-width:900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }
}

@media (max-width:750px) {
    .hamburger-button {
        display: block;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: auto;
        min-width: 150px;
        align-items: center;
        right: 0;
        left: auto;
        top: 80px;
        max-height: 0;
        margin: 0;
        overflow: hidden;
        background-color: #fff;
        border: 0px solid #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 0;
        z-index: 99;
        transition: max-height 0.3s ease-in-out;
    }

    .navbar-menu.open {
        max-height: 500px;
    }

}