.cloud-display {
    margin-top: 50px;
    height: 9vw;
    margin: 30px auto;
    background-color: grey;
    background-size: contain;
    position: relative;
    border-radius: 12px;
}

.cloud-display:hover {
    background: white;
    transform: scale(1.03);
    border: 1px solid;
    color: #262626;
}

.cloud-content h2 {
    margin-top: 10px;
}

.cloud-content {
    margin: auto auto;
    font-size: min(3vw,18px);
    text-align: center;
    font-weight: 500;
    color: #262626;
}

@media (max-width:1260px) {
    .cloud-display {
        height: 15vw;
    }
}

@media (max-width:1050px) {
    .cloud-display {
        height: 20vw;
    }
}

@media (max-width:850px) {
    .cloud-display {
        height: 25vw;
    }
}

@media (max-width:750px) {
    .cloud-display {
        height: 30vw;
    }
}