.service-display {
    height: 12vw;
    margin: 30px auto;
    background-color: grey;
    background-size: contain;
    position: relative;
    border-radius: 12px;
}

.service-display:hover {
    background: white;
    transform: scale(1.03);
    border: 1px solid;
    color: #262626;
}

.service-content h2 {
    margin-top: 10px;
}

.service-content {
    margin: auto auto;
    font-size: min(3vw,18px);
    text-align: center;
    font-weight: 500;
    color: #262626;
}

@media (max-width:1260px) {
    .service-display {
        height: 15vw;
    }
}

@media (max-width:1050px) {
    .service-display {
        height: 25vw;
    }
}

@media (max-width:1260px) {
    .alarm-display {
        height: 15vw;
    }
}

@media (max-width:1050px) {
    .alarm-display {
        height: 20vw;
    }
}

@media (max-width:850px) {
    .alarm-display {
        height: 25vw;
    }
}

@media (max-width:1000px) {
    .alarm-display {
        height: 35vw;
    }
}

@media (max-width:850px) {
    .service-display {
        height: 25vw;
    }
}

@media (max-width:750px) {
    .service-display {
        height: 40vw;
    }
}