.header {
    height: 35vw;
    margin: 30px auto;
    background-color: navy;
    background-size: contain;
    position: relative;
    border-radius: 12px;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 200;
    color: white;
    font-size: max(4.5vw,22px);
}

.header-contents p {
    color: white;
    font-size: 1.1vw;
}

.main__img--container {
    text-align: right;
    border-radius: 50%;
}

#main__img {
   position: relative;
   top: 2.5rem;
   width: 30vw;
   border-radius: 50%;
   height: 30vw;
   margin-right: 25px;
   margin-bottom: 20px;
}

@media (max-width:1050px) {
    .header {
        height: 41vw;
    }

    .header-contents {
        max-width: 45%;
    }
}

@media (max-width:750px) {

    .header-contents {
        max-width: 55%;
    }

    .header-contents p {
        display: none;
    }
}